#contenedor {
	background-color: #CCF;
	height: 640px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dotted #F60;
}
#logo {
	background-color: #CFF;
	height: 170px;
	width: 250px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border: 1px dotted #F60;
}
#botonera {
	background-color: #CC2EFA;
	height: 40px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px
}
#contenido {
	background-color: #999;
	height: 340px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
#texto {
	background-color: #9CC;
	margin: 10px;
	float: left;
	height: 320px;
	width: 650px;
}
#imagen_sup {
	background-color: #06C;
	margin: 10px;
	float: right;
	height: 150px;
	width: 250px;
}
#imagen_inf {
	background-color: #FFDFFF;
	margin: 10px;
	float: right;
	height: 150px;
	width: 250px;
}
#pie {
	background-color: #9CF;
	clear: left;
	height: 40px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}
